<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?ifndef ProductVersion ?>
    <?define ProductVersion = "0.2.2" ?>
  <?endif?>
  <Package
    Name="Lisan Studio"
    Manufacturer="Lisan Studio"
    Version="$(var.ProductVersion)"
    UpgradeCode="b45833fc-87f8-4656-8cc4-dc87769ea386"
    Scope="perUser">
    <MajorUpgrade
      DowngradeErrorMessage="A newer Lisan Studio is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="Lisan Studio" Level="1">
      <ComponentGroupRef Id="ApplicationFiles" />
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="LisanStudio" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Lisan Studio" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="b712f1d2-ec92-4eef-9b3a-859f07ed967b">
        <Shortcut Id="LisanStudioDesktopShortcut"
                  Name="Lisan Studio"
                  Target="[INSTALLFOLDER]LisanStudio.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\LisanStudio" Name="desktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcut" Guid="4ce472e6-0d64-4894-95e0-f3908d47699a">
        <Shortcut Id="LisanStudioStartMenuShortcut"
                  Name="Lisan Studio"
                  Target="[INSTALLFOLDER]LisanStudio.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\LisanStudio" Name="BuildId" Type="string" Value="$(var.BuildId)" />
        <RegistryValue Root="HKCU" Key="Software\LisanStudio" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="ApplicationFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.SourceDir)\**" />
    </ComponentGroup>
  </Package>
</Wix>
